<mat-toolbar class="mat-elevation-z6" color="primary">
  <button routerLink="/" class="logo-button" mat-button>AC STATS</button>
  <button routerLink="/compare" mat-button>Compare Players</button>  
  <span class="filler"></span>
  <button mat-button><i class="fab fa-3x fa-github"></i> <span style="font-size: 1.4rem"> Github</span></button>
  <button mat-button><i class="fas fa-2x fa-mouse-pointer"></i> <span style="font-size: 1.1rem"> Front</span></button>
  <button mat-button><i class="fas fa-2x fa-server"></i> <span style="font-size: 1.1rem"> Back</span></button>
</mat-toolbar>
