<mat-toolbar class="mat-elevation-z6" color="primary">
  <button routerLink="/" class="logo-button" mat-button>AC STATS</button>
  <button routerLink="/compare" mat-button>Compare Players</button>  
  <span class="filler"></span>
  <a mat-button target="_blank" href="https://github.com/jamesh38"><i class="fab fa-2x fa-github"></i> <span style="font-size: 1.4rem"> Github</span></a>
  <a mat-button target="_blank" href="https://github.com/jamesh38/ac-stats"><i class="fas fa-mouse-pointer"></i> Front</a>
  <a mat-button target="_blank" href="https://github.com/jamesh38/ac-stats-slapi"><i class="fas fa-database"></i> Back</a>
</mat-toolbar>
