mat-card-content {
    fill: white;
    width: 100%;
    height: 100%
}

mat-card{
    height: 350px;
    padding-bottom: 75px;
}

acstats-period-component {
    float: right;
}

.period-select {
    font-size:12px;
}