/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Changa|Special+Elite|Rajdhani:700');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
//font-family: font-family: 'Special Elite', cursive;, cursive;
//font-family: 'Changa', sans-serif;

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@include mat-core();

$card-padding: 70px;

body {
    background: #525252;
}

$ac-stats-primary-palette: (
    50 : #e6f0ec,
    100 : #c2dace,
    200 : #99c2ae,
    300 : #70aa8e,
    400 : #519775,
    500 : #32855d,
    600 : #2d7d55,
    700 : #26724b,
    800 : #1f6841,
    900 : #135530,
    A100 : #8fffbc,
    A200 : #5cff9d,
    A400 : #29ff7e,
    A700 : #0fff6f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$acstats-theme-primary: mat-palette($ac-stats-primary-palette);
$acstats-theme-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$acstats-theme-warn: mat-palette($mat-red);

$acstats-theme: mat-dark-theme(
    $acstats-theme-primary,
    $acstats-theme-accent,
    $acstats-theme-warn
);

$acstats-typography: mat-typography-config(
    $font-family: 'Rajdhani'
);

@include angular-material-typography($acstats-typography);
@include angular-material-theme($acstats-theme);

.ngx-datatable.dark {
  box-shadow: none;
  background: #424242;
  border: 1px solid #2f3646;
  color: #fff;
  font-size: 13px;

  .datatable-header {
    background: #1f4231;
    color: #a2a3a5;

    .datatable-header-cell {
      text-align: left;
      padding: .5rem 1.2rem;
      font-weight: bold;

      .datatable-header-cell-label {
        line-height: 24px;
      }
    }
  }

  .datatable-body {
    background: #2f2f2f;

    .datatable-body-row {
      border-top: 1px solid #a2a3a5;

      .datatable-body-cell {
        text-align: left;
        padding: .5rem 1.2rem;
        vertical-align: top;
      }

      &:hover {
        background: #171b24;
        transition-property: background;
        transition-duration: .3s;
        transition-timing-function: linear;
      }

      &:focus {
        background-color: #232837;
      }

      &.active {
        background-color: #1483ff;
        color: #FFF;
      }
    }
  }

  .datatable-footer {
    background: #202021;
    color: #a2a3a5;
    margin-top: -1px;

    .page-count {
      line-height: 50px;
      height: 50px;
      padding: 0 1.2rem;
    }

    .datatable-pager {
			margin: 0 10px;
      vertical-align: top;

      ul {
        li {
          margin: 10px 0px;

          &:not(.disabled) {
            &.active a,
            &:hover a {
              background-color: #545454;
              font-weight: bold;
            }
          }
        }
			}

			a {
				height: 22px;
				min-width: 24px;
				line-height: 22px;
				padding: 0;
				border-radius: 3px;
				margin: 0 3px;
				text-align: center;
				vertical-align: top;
				text-decoration: none;
		    vertical-align: bottom;
        color: #a2a3a5;
			}

			.datatable-icon-left,
			.datatable-icon-skip,
			.datatable-icon-right,
			.datatable-icon-prev {
        font-size: 18px;
        line-height: 27px;
				padding:0 3px;
			}
		}
  }

  .datatable-summary-row {
    .datatable-body-row {
      background-color: #14171f;

      &:hover {
        background-color: #14171f;
      }

      .datatable-body-cell {
	font-weight: bold;
      }
    }
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
